<section class="content">
    <h1>Informe o CPF do futuro cooperado (a)</h1>
    <p>Se necessário, você poderá duplicar uma conta existente ou pausar e retornar esse cadastro futuramente.
        Digite apenas os números (sem pontos ou traços).
    </p>

    <section class="form">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <label for="cpf">CPF</label>
            <input formControlName="cpf" type="tel" required id="" placeholder="Informe um CPF para consulta">
            <div *ngIf="userForm.get('cpf')?.errors?.['required'] && userForm.get('cpf')?.touched">
                O CPF é obrigatório
            </div>
        </form>
        <button (click)="onSubmit()" type="submit" class="primary">
            Consultar por CPF
        </button>
    </section>

    <section class="result">
        <app-card 
            *ngIf="user" 
            type="CONSULT" 
            title="Situação cadastral do CPF"
            description="Consulta na Receita Federal" 
            icon="bi-person-fill" [name]="user.name"
            [status]="user.status"
            ></app-card>
    </section>

    <!-- <section class="result">
        <div *ngFor="let account of accounts">
            <app-card 
            type="ACCOUNT" 
            title="{{ 'Conta + account.type' }}"
            description="account.institution" 
            icon="bi-credit-card" 
            [numberAccount]="account.number"
            ></app-card>
        </div>
    </section> -->

</section>