<section class="content">
    <h1>Informe o CPF do futuro cooperado (a)</h1>
    <p>Se necessário, você poderá duplicar uma conta existente ou pausar e retornar esse cadastro futuramente.
        Digite apenas os números (sem pontos ou traços).
    </p>

    <section class="form">
        <form>
            <label for="cpf">CPF</label>
            <input type="text" name="" id="" placeholder="000.000.000-00">
        </form>
        <app-button 
            onclick="consultUserByCpf()" 
            typeButton="submit" 
            class="button" 
            title="Consultar por CPF" 
            styles="primary"
        ></app-button>
    </section>
    
    <section class="result">
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
        <app-card></app-card>
    </section>
</section>

