.content {
    margin: 3em;

    h1 {
        font-size: 1.2em;
    }

    p {
        color: #555;
        line-height: 1.5em;
        width: 50vw;
        margin: 1em 0;
    }

    form {
        display: flex;
        flex-direction: column;
        width: 25vw;

        label {
            margin: 0.5em 0;
        }

        .button {
            display: flex;
            align-items: flex-end;
        }

        input {
            padding: 0.5em 0 0.6em 1em;
            font-size: 1em;
            margin-right: 2em;
        }
        
        .validation-error {
            color: #FF0000;
        }
    }

    .form {
        display: flex;
        align-items: flex-end;

        .error-feedback {
            color: #FF0000;
            border-color: #FF0000;
        }
    }

    .result {
        display: flex;
        
        margin: 2em 0;
        gap: 2em;

        app-card {
            width: 25%;
        }
    }

    .card {
        border: 1px solid #999;
        padding: 1em;
        
        h4 {
            margin: auto;
        }
    
        p {
            color: #777;
            margin: auto;
        }
    
        a {
            color: #165C7D;
            text-decoration: none;
            font-weight: bold;
        }
    
        .bi.bi-person-fill {
            color: #777;
        }
    
        .bi.bi-check-circle {
            color: #07FA3C;
        }
        
        .info {
            display: flex;
            align-items: center;
            gap: 2em;
            margin: 1em 0em;
        }
    
        .value {
            font-weight: bold;
            color: #000
        }
    }
}

button {
    height: 3em;
    width: 12em;
    
    &.primary {
        background-color: #165C7D;
        border: 1px solid #165C7D;
        color: #FFF;
    }
}