<div class="card">
    <section *ngIf="type == 'CONSULT'; else account">
        <header>
            <h4>{{ title }}</h4>
            <p>{{ description }}</p>
        </header>
        <div class="info">
            <i class="bi {{ icon }}"></i>
            <div class="details">
                <p>Nome</p>
                <p class="value">{{ name }}</p>
            </div>
        </div>
        <div class="info">
            <i class="bi bi-check-circle"></i>
            <div class="details">
                <p>Situação do CPF</p>
                <p class="value">{{ status }}</p>
            </div>
        </div>
    </section>

    <ng-template #account>
        <header>
            <h4>{{ title == 'application' ? 'aplicação' : 'corrente' }}</h4>
            <p>{{ description }}</p>
        </header>
        <div class="info">
            <i class="bi {{ icon }}"></i>
            <div class="details">
                <p>Número da conta</p>
                <p class="value">{{ numberAccount }}</p>
            </div>
            <div class="info">
                <a href="">Duplicar conta</a>
            </div>
        </div>
    </ng-template>
</div>