<aside class="container">
    <section class="menu">
        <img class="logo" src="" alt="">
        <ul>
            <li><i class="bi bi-list"></i></li>
            <li><i class="bi bi-search"></i></li>
            <li><i class="bi bi-star"></i></li>
            <li><i class="bi bi-chat-left-dots"></i></li>
            <li><i class="bi bi-sliders"></i></li>
            <li><i class="bi bi-bank"></i></li>
        </ul>
    </section>

    <section class="content">
        <app-header></app-header>
        <!-- <app-stepper></app-stepper> -->
        <router-outlet></router-outlet>
    </section>
</aside>
