.container {
    display: flex;

    .menu {
        width: 10em;
        height: 100vh;
        background-color: #165C7D;
    }

    li {
        list-style: none;
        margin: 2.5em 3em;

        i {
            justify-content: center;
            display: flex;
        }
    }

    .bi {
        color: #FFF;
        font-size: 2em;
    }

    .content {
        background-color: #FFF;
        width: 100em;
    }
}